[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
mkdocs-git-authors-plugin = "==0.7.2"
mkdocs-material = {extras = ["imaging"], version = "==9.5.3"}
mkdocs-minify-plugin = "==0.7.2"
mkdocs-render-swagger-plugin = "==0.1.1"
mkdocs-git-revision-date-localized-plugin = "==1.2.2"
mkdocs-redirects = "==1.2.1"
mkdocs-static-i18n = {extras = ["material"], version = "*"}
mkdocs-rss-plugin = "==1.12.0"

[dev-packages]

[requires]
python_version = "3.10"
